.cart-body {
  background: white;
  min-height: 100vh;
  vertical-align: middle;
  display: flex;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 0.8rem;
  font-weight: bold;
}

.cart-title {
  margin-bottom: 5vh;
}

.cart-card {
  margin: auto;
  max-width: 950px;
  width: 90%;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 1rem;
  border: transparent;
}

@media (max-width: 767px) {
  .cart-card {
    margin: 3vh auto;
  }
}

.cart {
  background-color: #ffffff;
  color: black;
  padding: 4vh 5vh;
  border-bottom-left-radius: 1rem;
  border-top-left-radius: 1rem;
}

.cart span {
  margin-left: 10px;
  color: black;
  background-color: white;
  font-size: 16px;
  padding: 5px 10px;
  border-radius: 3px 3px 3px 3px;
  cursor: pointer;
}

@media (max-width: 767px) {
  .cart {
    padding: 4vh;
    border-bottom-left-radius: unset;
    border-top-right-radius: 1rem;
  }
}

.summary {
  background-color: #1e62bb;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  padding: 4vh;
  color: white;
}

@media (max-width: 767px) {
  .summary {
    border-top-right-radius: unset;
    border-bottom-left-radius: 1rem;
  }
}

.summary .col-2 {
  padding: 0;
}

.summary .col-10 {
  padding: 0;
}

.cart .row {
  margin: 0;
}

.cart-title b {
  font-size: 1.5rem;
}

.cart-main {
  margin: 0;
  padding: 2vh 0;
  width: 100%;
}

.cart .col-2,
.col {
  padding: 0 1vh;
}

.close {
  margin-left: auto;
  font-size: 0.7rem;
}

.cart img {
  width: 3.5rem;
}

.back-to-shop {
  margin-top: 4.5rem;
}

.cart h5 {
  margin-top: 4vh;
}

.cart hr {
  margin-top: 1.25rem;
}

.cart form {
  padding: 2vh 0;
}

.summary input {
  border: none;
  padding: 1vh;
  margin-bottom: 4vh;
  outline: none;
  width: 100%;
  background-color: rgb(247, 247, 247);
}

.summary input:focus::-webkit-input-placeholder {
  color: transparent;
}

.summary .btn {
  background-color: rgb(24, 117, 255);
  border: none;
  color: white;
  padding: 10px 60px;
}

.summary .btn:focus {
  box-shadow: none;
  outline: none;
  box-shadow: none;
  color: white;
  -webkit-box-shadow: none;
  -webkit-user-select: none;
  transition: none;
}

.summary .btn:hover {
  color: white;
  background-color: rgb(23, 79, 163);
}

#code {
  background-image: linear-gradient(
      to left,
      rgba(255, 255, 255, 0.253),
      rgba(255, 255, 255, 0.185)
    ),
    url("https://img.icons8.com/small/16/000000/long-arrow-right.png");
  background-repeat: no-repeat;
  background-position-x: 95%;
  background-position-y: center;
}

.back-to-shop a {
  color: black;
  text-decoration: none;
  font-size: 15px;
}

.shipping {
  margin-bottom: 20px;
  background-color: white;
  border: none;
  padding: 5px 10px;
  outline: none;
  width: 100%;
}

.shipping h6 {
  margin-top: 6px;
  color: gray;
  font-size: 15px;
}

.amount-controller {
  overflow-y: scroll;
  height: 27vh;
}

.empty-cart h1 {
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
}

.empty-cart img {
  margin-top: 40px;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  width: 120px;
  height: 120px;
}